.custom-block.tip,
.custom-block.warning,
.custom-block.danger {
  padding: 10px 20px;
  border-left-width: 3px;
  border-left-style: solid;
  margin: 12px 0 24px 0;
  box-shadow: 0 6px 16px -2px rgba(0, 0, 0, 0.06);
  background-color: #fff;
  font-size: 14px;
}

.custom-block p {
  line-height: 1;
  margin: 0;
}

.custom-block.tip {
  border-color: #42b983;
}

.custom-block.warning {
  border-color: #ffc121;
}

.custom-block.warning .custom-block-title {
  color: #b29400;
}

.custom-block a {
  color: var(--accent-color);
}

.custom-block.danger {
  border-color: #c00;
}

.custom-block.danger .custom-block-title {
  color: #900;
}

.custom-block.details {
  position: relative;
  display: block;
  border-radius: 2px;
  margin: 1.6em 0;
  padding: 1.6em;
  background-color: #eee;
}

.custom-block.details h4 {
  margin-top: 0;
}

.custom-block.details figure:last-child,
.custom-block.details p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.custom-block.details summary {
  outline: none;
  cursor: pointer;
}

.custom-block-title {
  margin-bottom: -0.4rem;
  font-weight: 600;
}
