input {
  border: 1px solid #d9d9d9;
  padding: 8px 6px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.65);
  outline: none;
}

input:focus {
  border-color: #40a9ff;
}

button {
  padding: 5px 16px;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.65);
  outline: none;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  background: #fff;
}

button:hover {
  border-color: #40a9ff;
  color: #40a9ff;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  /* WebKit browsers */
  color: var(--placeholder-color);
}
