.theme {
  --border-color: #ebedf1;
  --header-height: 4rem;
  --sidebar-width: 20rem;
  --text-color: #2c3e50;
  --text-color-light: #476582;
  --code-bg-color: #f9fafb;
  --accent-color: #3eaf7c;
}
